<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h3>Onwords...(edited)</h3>
    <p>this is branch a(altered)</p>
    <p>this is btanch c and d</p>
    <p>added another tag</p>
    <p> now added<p>
    <p>a</p>
    <p>c</p>
    <p>testing</p>
</body>
</html>
